
.dialog-content-container {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  padding: 20px; 
  max-width: 500px; 
  margin: auto; 
}

.mat-dialog-title {
  font-size: 1.5rem; 
  font-weight: 500; 
  margin-bottom: 16px; 
  text-align: center; 
}

.mat-dialog-content {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  padding: 0; 
  margin-bottom: 16px; 
}

.mat-dialog-actions {
  display: flex; 
  justify-content: center; 
  padding: 0; 
}

.dialog-actions-container {
  display: flex; 
  gap: 16px; 
}

button {
  cursor: pointer;
}

button.cancel-button {
  border-radius: 20px; 
  font-size: 0.875rem; 
  padding: 8px 16px; 
  background-color: #2196f3; 
  color: #fff; 
  border: none; 
  cursor: pointer; 
}

button.cancel-button:hover {
  background-color: #1976d2; 
}

button.confirm-button {
  border-radius: 20px; 
  font-size: 0.875rem; 
  padding: 8px 16px; 
  background-color: #f44336; 
  color: #fff; 
  border: none; 
  cursor: pointer; 
}

button.confirm-button:hover {
  background-color: #d32f2f; 
}