.product-container {
  position: relative;
  margin: 16px;
  padding-bottom: 56px;
}

.create-product-button {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 10;
}

.mat-card-header {
  position: relative;
  padding: 16px 24px;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 16px; 
}

.mat-card-header-title {
  font-size: 25px;
  font-weight: bold;
  margin: 0;
}

.search-container {
  margin-top: 40px; 
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 5px;
}

.search-field {
  width: 100%;
  margin: auto; 
  height: 40px; 
}

mat-table {
  margin-top: 16px; 
}

.mat-header-cell, .mat-cell {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-header-cell.mat-column-actions,
.mat-cell.mat-column-actions {
  justify-content: center;
}

.mat-icon {
  font-size: 24px;
}

.action-buttons button {
  border-radius: 4px;
  margin: 0 8px;
}

.edit-button {
  color: #1976d2;
}

.delete-button {
  color: #d32f2f;
}

.no-products {
  text-align: center;
  margin-top: 32px;
}

mat-paginator {
  display: block;
  margin-top: 32px;
  width: 100%;
}
