.product-dialog-container {
  padding: 20px;
}

.mat-dialog-title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px; 
}

.mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

.form-row {
  display: flex;
  align-items: center;
  margin-bottom: 20px; 
}

.field-half {
  flex: 1;
  margin-right: 16px; 
  width: 100%;
}

.field-department {
  flex: 2; 
  margin-right: 16px; 
}

.field-price {
  flex: 1; 
}


.status-buttons {
  display: flex;
  align-items: center;
  gap: 16px; 
  margin-left: 16px; 
}

.status-buttons button {
  width: 100px; 
  height: 40px; 
}

.active {
  background-color: #007bff; 
  color: white;
}

.inactive {
  background-color: #dc3545; 
  color: white;
}

.dialog-buttons {
  display: flex;
  justify-content: space-between; 
  margin-top: 20px; 
}

.save-button, .cancel-button {
  width: 48%; 
  height: 40px; 
  transition: background-color 0.3s, border 0.3s; 
  border-radius: 4px; 
}

.save-button {
  background-color: #007bff; 
  color: white;
}

.save-button:disabled {
  background-color: #cce5ff; 
  color: #004085; 
}

.save-button:hover:not(:disabled) {
  background-color: #0056b3; 
}

.cancel-button {
  background-color: #dc3545; 
  color: white;
}

.cancel-button:hover {
  background-color: #c82333; 
}

.mat-icon {
  cursor: pointer;
}

.full-width {
  width: 100%; 
}

.dialog-buttons {
  margin-top: 10px; 
}
