.department-container {
  position: relative;
  margin: 16px;
  padding-bottom: 56px; 
  max-width: 80%; 
  margin: 16px auto; 
}

.mat-card-header-title {
  font-size: 25px; 
  font-weight: bold; 
  margin: 0; 
}

.mat-card-header {
  position: relative;
  padding: 16px 24px; 
  margin-bottom: 40px; 
  font-size: 36px; 
  font-weight: bold; 
  padding-bottom: 24px; 
  text-align: center; 
}

mat-table {
  width: 100%; 
  table-layout: fixed; 
}

.mat-header-cell, .mat-cell {
  text-align: center; 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px; 
}

.mat-icon {
  font-size: 24px; 
}

ng-container {
  width: 100%; 
}

.no-department {
  text-align: center;
  margin: 32px;
  font-weight: bold; 
  font-size: 1.5em; 
}

